/* src/styles/CreateEstablishment.module.css */
.main {
  padding: 1rem;
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

.heading {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.label {
  font-size: 1rem;
}

.input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
}
